#endEarlyContainer{
  text-align: center;
  width: 100%
}

#endEarly {
  margin: 40px auto;
  background-color: #000;
  color: #FFF;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  line-height: 200px;
  font-size: 35px;
  cursor: pointer;
}