.event {
  border: {
    width: 2.5px 5px 2.5px 5px;
    style: solid;
    color: black;
    radius: 10px;
  }
  &.Junior {
    background: #0090DA;
  }
  &.Senior {
    background: #00B398;
  }
  font-size: 35px;
}

