.room2 {
  &.a {
    color: black;
  }
  margin: 0;
  padding: 0 10%;
  position: relative;
}
.status {
  height: 35px;
  width: 35px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  position: absolute;
  right: 10%;
}

.room-name {
  color: #0090DA;
  font-size: 35px;
}

iframe{
  width: 100%;
  height: 500px;
}