.room2 {
  &.a {
    color: black;
  }
  margin: 0;

}
.status {
  height: 18px;
  width: 18px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  margin-top: 2.5px;
  margin-left: 35px;
}

.room-name {
  color: #0090DA;
}