/* line 1, ../scss/components/_events.scss */
.event {
  border-width: 2.5px 5px 2.5px 5px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  font-size: 35px;
}
/* line 8, ../scss/components/_events.scss */
.event.Junior {
  background: #0090DA;
}
/* line 11, ../scss/components/_events.scss */
.event.Senior {
  background: #00B398;
}
/* line 15, ../scss/components/_events.scss */
.event a,
.event a:hover,
.event a:active,
.event a:visited,
.event a:link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/* line 27, ../scss/components/_events.scss */
#junior-senior-display a {
  font-size: 120px;
}

/* line 1, ../scss/components/_clock.scss */
#time-main {
  color: #0090DA;
  text-align: center;
  margin: 0;
}
/* line 5, ../scss/components/_clock.scss */
#time-main #clock {
  font-size: 75px;
  padding-top: 10px;
}
/* line 9, ../scss/components/_clock.scss */
#time-main #minutes {
  color: #00B398;
}

/* line 14, ../scss/components/_clock.scss */
#time-room {
  color: #000;
  text-align: center;
}
/* line 17, ../scss/components/_clock.scss */
#time-room #clock {
  font-size: 100px;
  padding-top: 10px;
}
/* line 21, ../scss/components/_clock.scss */
#time-room #minutes {
  color: #000;
}
/* line 24, ../scss/components/_clock.scss */
#time-room .row {
  margin: 0;
}

/* line 29, ../scss/components/_clock.scss */
#time-junior-senior {
  color: #0090DA;
  text-align: center;
  margin: 0;
}
/* line 33, ../scss/components/_clock.scss */
#time-junior-senior #clock {
  font-size: 220px;
  padding-top: 10px;
}
/* line 37, ../scss/components/_clock.scss */
#time-junior-senior #minutes {
  color: #00B398;
}

/* line 1, ../scss/components/_containers.scss */
.col-md-4 {
  padding: 0;
  background: black;
}

/* line 1, ../scss/components/_rooms.scss */
.room2 {
  margin: 0;
  padding: 0 10%;
  position: relative;
}
/* line 2, ../scss/components/_rooms.scss */
.room2.a {
  color: black;
}

/* line 9, ../scss/components/_rooms.scss */
.status {
  height: 35px;
  width: 35px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  position: absolute;
  right: 10%;
}

/* line 19, ../scss/components/_rooms.scss */
.room-name {
  color: #0090DA;
  font-size: 35px;
}

/* line 24, ../scss/components/_rooms.scss */
iframe {
  margin-top: 15px;
  width: 100%;
  height: 250px;
}

/* line 1, ../scss/components/_background.scss */
html {
  background: black;
}
/* line 3, ../scss/components/_background.scss */
html body {
  font-family: 'Source Sans Pro';
  background: black;
}

/* line 1, ../scss/components/_weather.scss */
.info {
  color: white;
  font-size: 30px;
  height: 20vh;
}

/* line 6, ../scss/components/_weather.scss */
.weather-container {
  margin: 0;
  height: 20vh;
}

/* line 10, ../scss/components/_weather.scss */
#weather-image {
  padding: 0 10%;
  height: 100%;
  width: auto;
}

/* line 1, ../scss/components/_logo.scss */
#logo {
  width: 80%;
  padding: 15px 10% 0 10%;
}

/* line 12, ../scss/components/_gooey-nav.scss */
.menu-item, .menu-open-button {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: #000;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

/* line 26, ../scss/components/_gooey-nav.scss */
.menu-open {
  display: none;
}

/* line 33, ../scss/components/_gooey-nav.scss */
.menu {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

/* line 50, ../scss/components/_gooey-nav.scss */
.menu-item:hover, .menu-item:focus, .menu-item:active, .menu-item:visited {
  color: black;
  text-decoration: none;
}
/* line 58, ../scss/components/_gooey-nav.scss */
.menu-item:nth-child(3) {
  transition-duration: 70ms;
}
/* line 58, ../scss/components/_gooey-nav.scss */
.menu-item:nth-child(4) {
  transition-duration: 130ms;
}
/* line 58, ../scss/components/_gooey-nav.scss */
.menu-item:nth-child(5) {
  transition-duration: 190ms;
}
/* line 58, ../scss/components/_gooey-nav.scss */
.menu-item:nth-child(6) {
  transition-duration: 250ms;
}
/* line 58, ../scss/components/_gooey-nav.scss */
.menu-item:nth-child(7) {
  transition-duration: 310ms;
}

/* line 64, ../scss/components/_gooey-nav.scss */
.menu-open-button {
  z-index: 2;
  background: white;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

/* line 73, ../scss/components/_gooey-nav.scss */
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

/* line 76, ../scss/components/_gooey-nav.scss */
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

/* line 82, ../scss/components/_gooey-nav.scss */
.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
/* line 87, ../scss/components/_gooey-nav.scss */
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 160ms;
  transform: translate3d(114.42548px, 11.48084px, 0);
}
/* line 87, ../scss/components/_gooey-nav.scss */
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 240ms;
  transform: translate3d(77.18543px, 85.2491px, 0);
}
/* line 87, ../scss/components/_gooey-nav.scss */
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 320ms;
  transform: translate3d(0.09158px, 114.99996px, 0);
}
/* line 87, ../scss/components/_gooey-nav.scss */
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 400ms;
  transform: translate3d(-77.04956px, 85.37192px, 0);
}
/* line 87, ../scss/components/_gooey-nav.scss */
.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 480ms;
  transform: translate3d(-114.40705px, 11.66307px, 0);
}

/* line 1, ../scss/components/_room-schedule.scss */
.room-schedule {
  color: #000;
  padding-top: 15px;
}

/* line 6, ../scss/components/_room-schedule.scss */
.room-status {
  text-align: center;
}

/* line 10, ../scss/components/_room-schedule.scss */
.room-title {
  text-align: center;
  width: 100%;
  font-size: 120px;
  text-transform: uppercase;
}

/* line 17, ../scss/components/_room-schedule.scss */
.room-status {
  font-size: 100px;
}
/* line 19, ../scss/components/_room-schedule.scss */
.room-status #AvailableBusy {
  text-transform: uppercase;
  font-size: 100px;
}
/* line 23, ../scss/components/_room-schedule.scss */
.room-status #at,
.room-status #until {
  font-size: 50px;
}
/* line 27, ../scss/components/_room-schedule.scss */
.room-status #statusChangeTime {
  font-size: 120px;
}

/* line 32, ../scss/components/_room-schedule.scss */
.bumper {
  height: 40px;
}

/* line 1, ../scss/components/_checkmark.scss */
.checkmark {
  width: 200px;
  margin: 0 auto;
  padding-top: 40px;
  animation: dash 1s ease-in-out;
  animation: dash 2s ease-out;
  -webkit-animation: dash 1s ease-in-out;
  -webkit-animation: dash 2s ease-out;
}

/* line 11, ../scss/components/_checkmark.scss */
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 1s ease-in-out;
  animation: dash 1s ease-in-out;
  -webkit-animation: dash 1s ease-in-out;
  -webkit-animation: dash 2s ease-out;
}

/* line 20, ../scss/components/_checkmark.scss */
.spin {
  animation: spin 1s;
  -webkit-animation: spin 1s;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  animation: dash 1s ease-in-out;
  animation: dash 1s ease-in-out;
  -webkit-animation: dash 1s ease-in-out;
  -webkit-animation: dash 2s ease-out;
}

/* line 31, ../scss/components/_checkmark.scss */
p {
  font-family: sans-serif;
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
  animation: text .5s linear .4s;
  -webkit-animation: text .4s linear .3s;
  animation: dash 1s ease-in-out;
  -webkit-animation: dash 1s ease-in-out;
  animation: dash 2s ease-out;
  -webkit-animation: dash 2s ease-out;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 1, ../scss/components/_endearly.scss */
#endEarlyContainer {
  text-align: center;
  width: 100%;
}

/* line 6, ../scss/components/_endearly.scss */
#endEarly {
  margin: 40px auto;
  background-color: #000;
  color: #FFF;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  line-height: 200px;
  font-size: 35px;
  cursor: pointer;
}
